.murG1 {
  position: absolute;
  margin-left: -10px;
  
}
.murD1 {
  position: absolute;
}

.btn.btn-primary {
    width: 6rem!important;
    font-size: small;
    // cursor: text !important;
    text-decoration: none;
    pointer-events: none;
  }



