// Merge scss //

// COLORS // 
$primary: #053C5E;
$bleu: #219ebc;
$white: #FFF; 
$black: #000;

// BODY //
body {
    background-image: url("../IMG/mur.jpg");
    background-repeat: repeat;
    background-size: 40em;
    }
//@import'';

@import'_calcul.scss';
@import'_accueil.scss';
@import'_nav.scss';


