// Merge scss //

// COLORS // 
$primary: #053C5E;
$bleu: #219ebc;
$white: #FFF; 
$black: #000;


//@import'';

@import'_calcul.scss';
@import'_accueil.scss';
@import'_nav.scss';


body {
    background-image: url(../IMG/bgimmo.jpg);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
    }